
  img {
    margin: 10px;
  }

  .carousel-item > img:hover {
    cursor: pointer;
  }

.carousel-control-next,
.carousel-control-prev  {
    filter: invert(0%) !important;
}

.carousel-item:before {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}