 @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap');

*{
    padding: 0;
    margin: 0;
    border-radius: 0 !important;
    font-family: 'Fjalla One', sans-serif;
}

body {
    background-color: rgba(21, 1, 1, 0.934);
}


/* head */

h1{
    color: rgb(210, 156, 29);
    width: 15%;
    margin: auto;
    margin-top: 100px;
}

.btn{
	box-shadow: none !important
}


/* Cards */

.card {
    height: 14.8rem;
    padding: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#card1 {
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("/images/cocktail.png") center center no-repeat !important;
}


#card2 {
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("/images/bartender5.jpg") center center no-repeat !important;
}

#card3 {
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url("/images/contact.png") center center no-repeat !important;
}


.card-title {
    font-family: 'Supermercado One', cursive;
}

.card-text {
    font-family: 'Bitter', serif;
    color: #5d5d5d;;
}

.mb-3 {
    margin-bottom: 0 !important;
}


/* Carousel */
.carousel-control-next,
.carousel-control-prev  {
    filter: invert(100%);
}

.carousel-item:before {
    -webkit-box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.500);
    box-shadow: inset 0 0 10rem rgba(0, 0, 0, 0.500);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
}

/* Footer */

.line {
    width: 25%;
    margin: auto;
    padding: 2px;
    margin-bottom: 30px;
    margin-top: 20px;
    background-color: #dcaa25;
    opacity: 1;
}

.fa-instagram {
    color: #dcaa25;
}

.fa-linkedin {
    color: #dcaa25;
} 

.fa-envelope {
    color: #dcaa25;
}

/* contact page */
label {
    color: rgb(210, 156, 29);
}

#contact_head {
    margin-top: 1rem;
}

#send {
    left: 0;
}

@media only screen and (max-width: 600px) {
    .col-4 {
      width: 0;
    }
    .row > * {
        flex-shrink: 0;
        width: 100%;
    }
    #socials_text{
        margin-top: 16px;
    }
  }

  .div{
    margin-left: 370px;
  }
